.AppHeader {
    position: fixed;
    width: 100%;
    top: 80px;
    background-color: white;
    z-index: 2;
    margin: 0;
    border-bottom: 1px solid lightgray;
    padding: 0 10px;
    font-size: 20px;
}
.AppHeader button {
    border: none;
    background: none;
    font-size: 20px;
    color: lightslategray;
    cursor: pointer;
}

.AppHeader > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.AppHeader a {
    text-decoration: none;
    font-size: 30px;
    color: lightslategray;
}
.Next {
    text-decoration: none;
    display: flex;
    justify-content: right;
}
.search {
    font-size: 30px;
    margin: 5px;
    text-decoration: none;
    display: flex;
    justify-content: right;
    color: lightslategray;
}
.Logout {
    text-decoration: none;
    color: lightslategray;
    display: flex;
    justify-content: right;
}
.dog {
    padding-right: 20px;
    border-right: 1px solid lightslategray;
}
.puppygram {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    margin: 0;
    margin-right: auto;
    padding-left: 20px;
}