.card {
    margin: 15px auto;
    width: 55%;
    border-radius: 10%;
    overflow: hidden;
}
@media (max-width: 770px) {
    .card {
        width: 85%;
    }
}
.card:hover {
    box-shadow: 0 9px 19px 0 
    rgba(66,133,244,1.0);
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'tag .';
  }
.post img {
    width: 100%;
    border-radius: 0;
}
.chip {
    margin: 10px;
    grid-area: tag;
    display: inline-block;
    padding: 0 25px;
    height: 30px;
    font-size: 16px;
    line-height: 31px;
    border-radius: 25px;
    background-color: lightslategray;
    position: relative;
  }
  
  .chip img {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
.chip p {
    font-size: 10px;
}
.flipBox {
    box-shadow: 0 4px 8px 0 rgba(66,133,244,1.2);
    transition: 0.3s;
    background-color: transparent;
    perspective: 1000px;
}
.flipBoxInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flipBoxFront, .flipBoxBack {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
.flipBox.flipped .flipBoxInner{
    transform: rotateY(180deg);
    box-shadow: 0 4px 8px 0 rgba(66,133,244,0.2);
    transition: 0.3s;
}

  
.flipBoxBack {
    position: absolute;
    transform: rotateY(180deg);
}
.heart {
    font-size: 20px;
    color: lightslategray;
}