.Home {
    background-color: #34495e;
    min-height: calc(100vh - 80px);
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 80px;
}

nav {
    text-align: center;
}

.Sig {
    color: lightsteelblue;
    font-size: 40px;
    font-family: 'Great Vibes', cursive;
    display: flex;
    justify-content: center;

}


.Btn {
    border-radius: 30px;
    background-color: #4285F4;
    outline: none;
    cursor: pointer;
    border: 1px solid lightsteelblue;
    color: white;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
}

.Btn:first-of-type {
    margin-right: 10px; 
}


.Btn:hover, .Btn:active {
    background-color: lightsteelblue;
    border: 1px solid lightsteelblue;
    color: #4285F4;
    animation: enable 0.3s linear;
}
@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

