.Home {
    background-color: #34495e;
    min-height: calc(100vh - 80px);
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 80px;
}

nav {
    text-align: center;
}

.Sig {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.Sig span {
    content:"";
    margin: 30px 10px 0px 10px;
    flex: 1 1 auto;
    border-top: 1px solid #F4B400;
}
.Sig img {
    max-width: 100%;
}


.Btn {
    border-radius: 30px;
    background-color: #4285F4;
    outline: none;
    cursor: pointer;
    border: 1px solid #0F9D58;
    color: white;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
}

.Btn:first-of-type {
    margin-right: 10px; 
}


.Btn:hover, .Btn:active {
    background-color: #0F9D58;
    border: 1px solid #0F9D58;
    color: white;
    animation: enable 0.3s linear;
}
@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

