.Login {
    padding-top: 200px;
    text-align: center;
}
.form {
    margin-bottom: 50px;
}
.form input {
    border-radius: 50px;
    width: 55%;
    margin: 0 auto;
}
.form button {
    border-radius: 50px;
    height: 40px;
    width: 20%;
    border: 0;
    background-color: lightslategray;
    color: white;
    font-size: large;
    cursor: pointer;
}
.userInfo {
    display: flex;
    border: 1px solid lightslategray;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 483px;
}