.headerContainer {
    margin-top: 119px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'userName profilePic'
        'editButton editButton'
}
.profilePic img{
    margin: 5% 20% 5% 0;
    float: right;
    height: 100px;
    grid-area: profilePic;
}
.editIcon {
    z-index: 5;
    font-size: 25px;
    float: right;
    color: lightslategrey;
    margin: 10px 0 0 30px;
}
.editButton {
    grid-area: editButton;
    width: 95%;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 10px;
    height: 26px;
    background-color: lightslategray;
    color: white;
    border-radius: 11px;
    border: 1px solid lightslategray;
}
.userName {
    grid-area: userName;
    text-align: center;
}
.icons {
    padding: 10px;
    color: lightslategray;
    font-size: 25px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-around;
    margin-top: 10px;
    border-bottom: 1px solid lightslategray;
    border-top: 1px solid lightslategray;
}
.gridview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.gridview img {
    width: 100%;
    height: 100%;
}
